*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: #defcf9;
}

h1 {
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
}

#accordion{
    margin: 50px auto;
    width: 600px;
}

#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 20px;
    background: #cadefc;
    padding: 10px;
    border-radius: 50px;
}

#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

#accordion li label span{
    font-size: 30px;
}

#accordion label + input[type="radio"]{
    display: none;
}

#accordion .content{
    padding: 0 20px;
    line-height: 50px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s;
}

#accordion label + input[type="radio"]:checked + .content{
    max-height: 500px;
}
